Repository akoun-dev/noli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,less}": [
    "prettier --write"
  ],
  "*.{test,spec}.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=20",
    "prettier --write"
  ]
}

fix(auth): cookie de session httpOnly + 404 JSON sur /api inconnu (recette technique)
  src/app/api/[...notfound]/route.test.ts
  src/app/api/[...notfound]/route.ts
  src/app/api/auth/recovery/route.ts
  src/components/auth/auth-form.tsx
  src/lib/auth-actions.ts
  src/lib/auth-guard.ts
  src/lib/supabase-browser.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(admin): confirmation activer/désactiver un compte (TEC-AUTH-06)
  src/components/admin/settings-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(nav): lien « Offres » dans la navigation publique (MET-PUB-04)
  src/components/layout/footer.tsx
  src/components/layout/header.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(offres): corrige le crash (500) de la page Offres sur une catégorie nulle
  src/components/offers/offers-page.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(ux): skeleton + préchargement des vues dynamiques
  src/app/[...slug]/page.tsx
Due: eslint --fix --max-warnings=10, prettier --write

chore(deps): resynchronise bun.lock avec package.json
  bun.lock
Due: none

fix(hydratation): neutralise les attributs injectés par les extensions navigateur
  src/app/layout.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(a11y): supprime les <main> imbriqués et l'id dupliqué
  src/components/about/about-page.tsx
  src/components/contact/contact-page.tsx
  src/components/offers/offers-page.tsx
  src/components/shared/app-shell.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(securite): garde dernier admin, rate-limit lectures publiques, seed bloqué en production
  src/app/api/admin/profiles/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/coverage-categories/route.ts
  src/app/api/offers/route.ts
  src/app/api/seed/route.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(a11y): libellés boutons icônes, toast unifié, navigation SPA des notifications
  src/components/admin/audit-logs-tab.tsx
  src/components/admin/backups-tab.tsx
  src/components/admin/devis-tab.tsx
  src/components/comparison/comparison-form.tsx
  src/components/insurer/tabs/insurer-guarantees-tab.tsx
  src/components/shared/app-shell.tsx
  src/components/shared/notification-dropdown.tsx
Due: eslint --fix --max-warnings=10, prettier --write

perf(bundle): jsPDF dynamique, préchargement conditionné, fontes réduites
  src/app/[...slug]/page.tsx
  src/app/layout.tsx
  src/components/user/tabs/user-documents-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

chore: cadre de travail, agents et garde-fous
  .claude/agents/designer.md
  .claude/agents/dev-backend.md
  .claude/agents/dev-frontend.md
  .claude/agents/recette.md
  .claude/agents/relecteur.md
  .claude/settings.json
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-push
  .jscpd.json
  CLAUDE.md
  STATUS.md
  bun.lock
  docs/ARCHITECTURE.md
  docs/DECISIONS.md
  eslint.config.mjs
  knip.json
  package-lock.json
  package.json
Due: prettier --write

refactor(design): source unique du design system (tokens, 0 hex en dur)
  STATUS.md
  src/app/globals.css
  src/components/about/about-page.tsx
  src/components/comparison/comparison-form.tsx
  src/components/contact/contact-page.tsx
  src/components/landing/landing-page.tsx
  src/components/layout/footer.tsx
  tailwind.config.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(design): corrections de relecture (brand, color-mix, dépendance morte)
  bun.lock
  docs/DECISIONS.md
  package-lock.json
  package.json
  src/app/globals.css
  src/components/comparison/comparison-form.tsx
Due: eslint --fix --max-warnings=10, prettier --write

docs(status): livrable design system livré (DoD ✅, relecteur CONFORME)
  STATUS.md
Due: prettier --write

refactor(insurer): découpe insurer-guarantees-tab (2238 → 123 l)
  src/components/insurer/tabs/guarantees/build-payload.ts
  src/components/insurer/tabs/guarantees/common-params.tsx
  src/components/insurer/tabs/guarantees/constants.ts
  src/components/insurer/tabs/guarantees/defaults.ts
  src/components/insurer/tabs/guarantees/guarantee-wizard-dialog.tsx
  src/components/insurer/tabs/guarantees/guarantees-table.tsx
  src/components/insurer/tabs/guarantees/matrix/fiscal-power-editor.tsx
  src/components/insurer/tabs/guarantees/matrix/formula-editor.tsx
  src/components/insurer/tabs/guarantees/matrix/step3-matrix.tsx
  src/components/insurer/tabs/guarantees/matrix/tierce-editor.tsx
  src/components/insurer/tabs/guarantees/matrix/vehicle-category-editor.tsx
  src/components/insurer/tabs/guarantees/parse-wizard-state.ts
  src/components/insurer/tabs/guarantees/step1-basic-info.tsx
  src/components/insurer/tabs/guarantees/step2-calc-type.tsx
  src/components/insurer/tabs/guarantees/step3-tariffs.tsx
  src/components/insurer/tabs/guarantees/step3-variable-based.tsx
  src/components/insurer/tabs/guarantees/types.ts
  src/components/insurer/tabs/guarantees/use-guarantees-data.ts
  src/components/insurer/tabs/guarantees/use-guarantees-wizard.ts
  src/components/insurer/tabs/insurer-guarantees-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

docs(status): découpe insurer-guarantees livrée (relecteur CONFORME, recette OK)
  STATUS.md
Due: prettier --write

docs(status): PR #62 (découpe insurer-guarantees) mergée dans 2.0.0
  STATUS.md
Due: prettier --write

docs(status): page blanche prod — runbook de redéploiement propre envoyé à Bernard (en attente retour)
  STATUS.md
Due: prettier --write
