Repository akoun-dev/noli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,less}": [
    "prettier --write"
  ],
  "*.{test,spec}.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=20",
    "prettier --write"
  ]
}

recette(2.0.0): corrige 11 bugs fonctionnels (front↔API) + rapport
  docs/RECETTE_FONCTIONNELLE_2.0.0.md
  src/app/api/admin/backups/route.ts
  src/app/api/admin/coverage-categories/route.ts
  src/app/api/admin/insurance-categories/route.ts
  src/app/api/admin/quotes/route.ts
  src/app/api/insurer/coverages/route.ts
  src/app/api/insurer/quotes/route.ts
  src/app/api/insurer/stats/route.ts
  src/components/admin/audit-logs-tab.tsx
  src/components/admin/backups-tab.tsx
  src/components/admin/dashboard-tab.tsx
  src/components/insurer/tabs/insurer-offers-tab.tsx
  src/components/insurer/tabs/insurer-settings-tab.tsx
  src/components/results/filters-sidebar.tsx
  src/components/results/results-page.tsx
  src/lib/validation.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(email): migrer l'envoi vers SMTP Gmail (Resend en fallback)
  .env.example
  package-lock.json
  package.json
  src/app/api/contact/request-callback/route.ts
  src/app/api/user/quotes/route.ts
  src/lib/email.ts
Due: eslint --fix --max-warnings=10, prettier --write

docs(deploy): moderniser le guide pour la stack Supabase
  deploiement.md
Due: prettier --write

fix(deploy): aligner le proxy Caddy sur le port PM2 8080
  Caddyfile
  ecosystem.config.js
Due: eslint --fix --max-warnings=10, prettier --write

feat(quotes): joindre le devis en PDF à l'email de confirmation
  src/app/api/user/quotes/route.ts
  src/components/results/results-page.tsx
  src/lib/email.ts
  src/lib/generate-pdf.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(config): CSP 'unsafe-eval' en développement (Turbopack)
  next.config.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(auth): réinitialisation du mot de passe via lien email
  src/app/api/auth/reset-password/route.ts
  src/components/auth/auth-form.tsx
  src/lib/auth-actions.ts
  src/lib/rate-limit.ts
Due: eslint --fix --max-warnings=10, prettier --write

recette(2.0.0): 2e passe — 5 bugs supplémentaires corrigés
  docs/RECETTE_FONCTIONNELLE_2.0.0.md
  src/app/api/insurer/offers/[id]/route.ts
  src/app/api/insurer/offers/route.ts
  src/components/admin/audit-logs-tab.tsx
  src/components/insurer/tabs/insurer-offers-tab.tsx
  src/components/user/tabs/user-quotes-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

recette(2.0.0): 3e passe — routage/session (3 bugs) + audit tarification
  docs/RECETTE_FONCTIONNELLE_2.0.0.md
  src/app/[...slug]/page.tsx
  src/components/layout/header.tsx
Due: eslint --fix --max-warnings=10, prettier --write

docs: exemple chiffré du calcul de prix (aide à la décision métier)
  docs/EXEMPLE_CALCUL_PRIX.md
Due: prettier --write

fix(pricing): baser le prix sur grossPremium (Option A)
  docs/EXEMPLE_CALCUL_PRIX.md
  src/lib/compare-service.test.ts
  src/lib/compare-service.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(pricing): P1 prix mensuel = annuel/12 ; P2 prime nette non appliquée
  docs/EXEMPLE_CALCUL_PRIX.md
  src/lib/compare-service.test.ts
  src/lib/compare-service.ts
  src/lib/pricing-service.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

docs: récap 1 page (audit + recette + prix) et action restante
  docs/RECAP_AUDIT_NOLI.md
Due: prettier --write

docs: plan d'industrialisation (cible VPS + PM2)
  docs/PLAN_INDUSTRIALISATION.md
Due: prettier --write

ci: pipeline qualité GitHub Actions + healthcheck /api/health (P0)
  .github/workflows/ci.yml
  src/app/api/health/route.ts
Due: eslint --fix --max-warnings=10, prettier --write

chore(p0): nettoyage legacy + vraie stratégie de sauvegarde DB
  docs/SAUVEGARDE_DR.md
  ecosystem.config.js
  src/lib/backups.ts
Due: eslint --fix --max-warnings=10, prettier --write

chore(p0): déplace le script de sauvegarde dans ops/ (scripts/ est gitignore)
  docs/SAUVEGARDE_DR.md
  ops/backup-db.sh
Due: prettier --write

test(p1): tests sécurité/rate-limit + seuil de couverture en CI
  .github/workflows/ci.yml
  src/lib/rate-limit.test.ts
  src/lib/security.test.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(ux): LOT A — quick wins (brief UX 2026-08)
  src/components/comparison/comparison-form.tsx
  src/components/landing/landing-page.tsx
  src/components/results/offer-card.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(a11y): LOT B — contrastes WCAG (brief UX 2026-08)
  src/app/globals.css
  src/components/comparison/comparison-form.tsx
  src/components/landing/landing-page.tsx
  src/components/results/offer-card.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(ux): LOT E — résilience réseau (fetchWithTimeout) (brief UX 2026-08)
  src/components/auth/auth-form.tsx
  src/components/offers/offers-page.tsx
  src/lib/fetch-with-timeout.test.ts
  src/lib/fetch-with-timeout.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(ux): LOT F — validation de formulaire visible (brief UX 2026-08)
  src/components/comparison/comparison-form.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(a11y): LOT G — finitions accessibilité / mobile (brief UX 2026-08)
  src/app/globals.css
  src/components/auth/auth-form.tsx
  src/components/layout/header.tsx
  src/components/results/results-page.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(security): validate admin insurers/roles/profiles/settings request bodies with Zod
  src/app/api/admin/insurers/[id]/route.ts
  src/app/api/admin/insurers/route.ts
  src/app/api/admin/profiles/[id]/roles/route.ts
  src/app/api/admin/profiles/route.ts
  src/app/api/admin/roles/[id]/route.ts
  src/app/api/admin/roles/route.ts
  src/app/api/admin/settings/route.ts
  src/lib/validation.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(security): validate admin catalog/backups request bodies with Zod
  src/app/api/admin/backups/route.ts
  src/app/api/admin/coverage-categories/[id]/route.ts
  src/app/api/admin/coverage-categories/route.ts
  src/app/api/admin/coverages/[id]/tariff-rules/route.ts
  src/app/api/admin/insurance-categories/[id]/route.ts
  src/app/api/admin/insurance-categories/route.ts
  src/app/api/admin/insurance-packages/[id]/route.ts
  src/app/api/admin/insurance-packages/route.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(routing): add Next error boundaries and server-level 404
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/not-found.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(ux): truthful landing copy and remove dead affordances (LOT A)
  src/components/comparison/comparison-form.tsx
  src/components/landing/landing-page.tsx
  src/components/results/offer-card.tsx
Due: eslint --fix --max-warnings=10, prettier --write

style(a11y): raise WCAG contrast in light mode and funnel (LOT B)
  src/app/globals.css
  src/components/comparison/comparison-form.tsx
  src/components/landing/landing-page.tsx
  src/components/results/offer-card.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(ux): add fetchWithTimeout helper (LOT E helper, from 5bfe091)
  src/lib/fetch-with-timeout.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(ux): visible form validation and FCFA formatting in comparison form (LOT F)
  src/components/comparison/comparison-form.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(a11y): accessibility and mobile finitions (LOT G)
  src/app/globals.css
  src/components/auth/auth-pages.tsx
  src/components/layout/header.tsx
  src/components/results/results-page.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(ux): reconcile anonymous quotes on auth and persistent quote confirmation (LOT D)
  src/app/api/user/quotes/reconcile/route.ts
  src/components/auth/auth-form.tsx
  src/components/results/results-page.tsx
Due: eslint --fix --max-warnings=10, prettier --write

chore(pricing): remove unvalidated net-premium rule (P2, décision Hervé)
  docs/EXEMPLE_CALCUL_PRIX.md
  src/lib/pricing-service.test.ts
  src/lib/pricing-service.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

feat(ux): LOT D — devis anonymes (réconciliation + confirmation) (brief UX 2026-08)
  src/components/results/results-page.tsx
  src/lib/auth-actions.ts
  src/lib/quotes-reconcile.test.ts
  src/lib/quotes-reconcile.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(qa): garanties label/prix overlap + résilience inscription
  src/components/results/offer-card.tsx
  src/lib/auth-actions.ts
  supabase/migrations/20260810120000_registration_resilience.sql
Due: eslint --fix --max-warnings=10, prettier --write

fix(qa): profil admin manquant + fiabilisation des textes d'accueil
  src/components/admin/admin-page.tsx
  src/components/landing/landing-page.tsx
  src/components/layout/header.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(qa): routage incohérent + placeholders valeurs véhicule
  src/components/comparison/comparison-form.tsx
  src/store/app-store.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(routage): purge la vue persistée héritée (redirections fantômes)
  src/store/app-store.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(espace client): contenu invisible (animation d'entrée bloquée)
  src/components/insurer/tabs/insurer-analytics-tab.tsx
  src/components/insurer/tabs/insurer-claims-tab.tsx
  src/components/insurer/tabs/insurer-contracts-tab.tsx
  src/components/user/tabs/user-contracts-tab.tsx
  src/components/user/tabs/user-dashboard-tab.tsx
  src/components/user/tabs/user-documents-tab.tsx
  src/components/user/tabs/user-history-tab.tsx
  src/components/user/tabs/user-notifications-tab.tsx
  src/components/user/tabs/user-payments-tab.tsx
  src/components/user/tabs/user-profile-tab.tsx
  src/components/user/tabs/user-quotes-tab.tsx
  src/components/user/tabs/user-reviews-tab.tsx
  src/components/user/tabs/user-settings-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(inscription): 502 Bad Gateway — bornage temporel des étapes réseau
  src/lib/auth-actions.ts
Due: eslint --fix --max-warnings=10, prettier --write
