Repository akoun-dev/noli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,less}": [
    "prettier --write"
  ],
  "*.{test,spec}.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=20",
    "prettier --write"
  ]
}

fix(auth): messages d'erreur détaillés à l'inscription + log serveur
  src/lib/auth-actions.test.ts
  src/lib/auth-actions.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(espace client): compteur notifications réel + historique fonctionnel
  src/components/user/tabs/user-dashboard-tab.tsx
  src/components/user/tabs/user-history-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(inscription): autoComplete=new-password sur les champs mot de passe
  src/components/auth/auth-form.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(audit): rôle inscription cohérent + garde prix NaN + notification bornée
  src/app/api/insurer/quotes/[id]/status/route.ts
  src/lib/auth-actions.ts
  src/lib/compare-service.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(assureur): onglet Contrats fonctionnel (données réelles)
  src/app/api/insurer/contracts/route.ts
  src/components/insurer/tabs/insurer-contracts-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(assureur): onglet Clients fonctionnel (portefeuille réel)
  src/app/api/insurer/clients/route.ts
  src/components/insurer/tabs/insurer-clients-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(client): onglet Mes Avis fonctionnel (notation assureurs)
  src/app/api/reviews/route.ts
  src/components/user/tabs/user-reviews-tab.tsx
  supabase/migrations/20260810130000_reviews.sql
Due: eslint --fix --max-warnings=10, prettier --write

feat(client): onglet Paiements branché aux contrats réels (honnête)
  src/components/user/tabs/user-payments-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(sinistres): déclaration client + traitement assureur (bout-en-bout)
  src/app/api/claims/route.ts
  src/app/api/insurer/claims/[id]/status/route.ts
  src/app/api/insurer/claims/route.ts
  src/components/insurer/tabs/insurer-claims-tab.tsx
  src/components/user/tabs/user-contracts-tab.tsx
  supabase/migrations/20260810140000_claims.sql
Due: eslint --fix --max-warnings=10, prettier --write

fix(recette): contre-audit — prime mensuelle, RLS claims, Radix Slot, auth reset, backups logiques
  .env.example
  src/app/api/admin/backups/[id]/route.ts
  src/app/api/admin/backups/route.ts
  src/app/api/claims/route.ts
  src/components/admin/backups-tab.tsx
  src/components/results/comparison-modal.test.tsx
  src/components/results/comparison-modal.tsx
  src/components/results/results-helpers.ts
  src/components/user/tabs/user-payments-tab.tsx
  src/lib/auth-actions.ts
  supabase/migrations/20260810140000_claims.sql
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(pdf): montant illisible sur le devis (séparateur de milliers)
  src/lib/generate-pdf.test.ts
  src/lib/generate-pdf.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(auth): reset mot de passe — support PKCE flow Supabase + templates email NOLI
  src/components/auth/auth-form.tsx
  src/lib/supabase-browser.ts
  supabase/email-templates/change-email.html
  supabase/email-templates/confirm-signup.html
  supabase/email-templates/invite.html
  supabase/email-templates/magic-link.html
  supabase/email-templates/reset-password.html
  supabase/email-templates/verify-otp.html
Due: eslint --fix --max-warnings=10, prettier --write

feat(email): template NOLI pour notification changement de mot de passe
  supabase/email-templates/password-changed.html
Due: none

feat(email): templates NOLI notification changement email + confirmation
  supabase/email-templates/confirm-new-email.html
Due: none

feat(db): migrer vers PostgreSQL natif et authentification locale
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  audit-interfaces.md
  db/migrate.mjs
  db/migrations/001_native_schema.sql
  db/seed.sql
  deploiement.md
  docker-compose.dev.yml
  docs/PLAN_MIGRATION_POSTGRESQL_DOCKER.md
  next.config.ts
  ops/backup-db.sh
  ops/restore-db.sh
  package-lock.json
  package.json
  src/app/api/user/profile/route.ts
  src/components/auth/auth-form.tsx
  src/lib/auth-actions.ts
  src/lib/auth-guard.ts
  src/lib/db.ts
  src/lib/email.ts
  src/lib/notifications.ts
  src/lib/supabase-browser.ts
  src/types/pg.d.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(gitignore): ancrer le motif local-* à la racine (/local-*)
  .gitignore
Due: none

fix(recette 09/09): correctifs UX comparateur + politique mot de passe
  src/components/auth/auth-form.tsx
  src/components/comparison/comparison-form.tsx
  src/components/results/comparison-modal.tsx
  src/components/results/offer-card.tsx
  src/components/results/results-page.tsx
  src/lib/validation.test.ts
  src/lib/validation.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(recette 09/09): individuel accident — répercuter la matrice sur l'affichage
  src/lib/compare-service.ts
  src/lib/pricing-service.test.ts
  src/lib/pricing-service.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

docs: ajoute le runbook de déploiement (docs/DEPLOIEMENT.md)
  docs/DEPLOIEMENT.md
Due: prettier --write

feat(auth): permettre l’auto-inscription des assureurs
  backups/noli-20260904T113413Z.dump
  src/lib/auth-actions.ts
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/rest-version
  supabase/.temp/storage-migration
  supabase/.temp/storage-version
  supabase/migrations/20260911120000_self_register_insurer.sql
Due: eslint --fix --max-warnings=10, prettier --write

fix(ui): éviter les valeurs nulles dans le profil utilisateur
  src/components/user/tabs/user-profile-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(sécurité): durcir l'auto-inscription assureur + retirer le dump du dépôt
  .gitignore
  backups/noli-20260904T113413Z.dump
  src/lib/auth-actions.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(admin): permettre la suppression des profils utilisateurs
  .zscripts/build.sh
  .zscripts/dev.pid
  .zscripts/dev.sh
  .zscripts/mini-services-build.sh
  .zscripts/mini-services-install.sh
  .zscripts/mini-services-start.sh
  .zscripts/start.sh
  Caddyfile
  deploiement.md
  noli.ci.nginx
  src/app/api/admin/profiles/[id]/route.ts
  src/components/admin/settings-tab.tsx
  src/components/admin/settings/settings-accounts-tab.tsx
  src/components/admin/settings/settings-users-tab.tsx
  src/components/auth/auth-form.tsx
  src/components/auth/auth-pages.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(admin): écran de validation des comptes assureurs en attente
  src/app/api/admin/insurers/pending/route.ts
  src/components/admin/admin-page.tsx
  src/components/admin/insurer-validation-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

test(lib): couvrir des helpers purs (seuil de couverture src/lib)
  src/lib/auth-helpers.test.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

feat(admin): confirmation avant rejet d'un compte assureur
  src/components/admin/insurer-validation-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

docs: ajoute le rapport de clôture (docs/RAPPORT_CLOTURE.md)
  docs/RAPPORT_CLOTURE.md
Due: prettier --write

docs: ajoute les cahiers de recette métier et technique
  docs/CAHIER_RECETTE_METIER.md
  docs/CAHIER_RECETTE_TECHNIQUE.md
Due: prettier --write

docs: ajoute l'architecture fonctionnelle et le plan de déploiement
  docs/ARCHITECTURE_FONCTIONNELLE.md
  docs/PLAN_DEPLOIEMENT.md
Due: prettier --write

fix(tarif): individuel accident — prime fixe affichée exacte (pas d'arrondi 500)
  src/lib/pricing-service.test.ts
  src/lib/pricing-service.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

docs: recette ciblée Individuel Accident (moteur vs catalogue)
  docs/RECETTE_INDIVIDUEL_ACCIDENT.md
Due: prettier --write

fix(user): ouvrir le détail d'un devis depuis « Mes devis » (MET-USR-05)
  src/components/user/tabs/user-quotes-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(admin): créer le contrat à l'approbation d'un devis côté admin
  src/app/api/admin/quotes/route.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(auth): gérer la validation des comptes assureurs
  src/app/api/admin/insurers/pending/route.ts
  src/components/auth/auth-form.tsx
  src/lib/auth-actions.ts
  src/lib/email.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(auth): conserver et rattacher la compagnie demandée à la validation
  src/app/api/admin/insurers/pending/route.ts
  src/components/admin/insurer-validation-tab.tsx
  src/lib/auth-actions.ts
  supabase/migrations/20260915100000_pending_insurer_validation.sql
Due: eslint --fix --max-warnings=10, prettier --write

fix(devis): lier le devis à l'offre par son ID (fiable) → contrat créable
  src/app/api/user/quotes/route.ts
  src/components/results/results-page.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(devis): bouton « Télécharger le devis (PDF) » côté client
  src/app/api/user/quotes/[id]/pdf/route.ts
  src/components/user/tabs/user-quotes-tab.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(sécurité): durcissement recette technique (F-01→F-04)
  src/app/api/admin/coverage-categories/route.ts
  src/app/api/admin/insurance-categories/route.ts
  src/app/api/contact/messages/route.ts
  src/app/api/contact/request-callback/route.ts
  src/app/api/user/quotes/route.ts
  src/lib/auth-actions.test.ts
  src/lib/auth-actions.ts
  src/lib/validation.test.ts
  src/lib/validation.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(offres): valider les bornes min ≤ max à la création/màj (TEC-DATA-02)
  src/app/api/admin/insurance-offers/[id]/route.ts
  src/app/api/admin/insurance-offers/route.ts
  src/lib/security.test.ts
  src/lib/security.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20
