Repository akoun-dev/noli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings=10",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,less}": [
    "prettier --write"
  ],
  "*.{test,spec}.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=20",
    "prettier --write"
  ]
}

fix(types): reposition @ts-expect-error onto the flagged mock callback
  src/contexts/__tests__/AuthContext.test.tsx
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(types): resolve breadcrumb alias, lazy named exports, dashboard and payment props
  src/components/common/BreadcrumbRenderer.tsx
  src/features/payments/components/PaymentMethodsManager.tsx
  src/features/payments/pages/PaymentsPage.tsx
  src/pages/admin/AdminDashboardPage.tsx
  src/routes/LazyRoutes.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): export validatePasswordStrength, fix pixelRatio, date options, dead cache read
  src/contexts/AuthContext.tsx
  src/hooks/useDeviceDetection.ts
  src/lib/zod-schemas.ts
  src/utils/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): resolve assorted prop/shape mismatches across pages and services
  src/features/chat/services/chatService.ts
  src/features/insurers/hooks/useClientCommunication.ts
  src/features/insurers/services/insurerAnalyticsService.ts
  src/guards/AuthGuard.tsx
  src/pages/admin/AdminAnalyticsPage.tsx
  src/pages/admin/AdminDataManagementPage.tsx
  src/pages/admin/AdminInsurersPage.tsx
  src/pages/admin/AdminUsersPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): resolve suggestion/link, feature-flag casts and assorted mismatches
  src/components/ui/error-message.tsx
  src/features/admin/components/AuditLogsPage.tsx
  src/features/admin/services/realtimeService.ts
  src/features/admin/services/userService.ts
  src/features/auth/pages/ForgotPasswordPage.tsx
  src/features/offers/components/QuoteOptionsModal.tsx
  src/lib/config/features.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): correct vehicle seats field, json access, date option and quotes insert
  src/features/admin/components/AdminDashboardCharts.tsx
  src/features/comparison/pages/CoverageTestPage.tsx
  src/features/tarification/services/pricingService.ts
  src/features/user/services/documentService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): assert loaded settings, add campaign criteria, unify SearchResult
  src/components/common/GlobalSearch.tsx
  src/features/insurers/components/CampaignManager.tsx
  src/pages/admin/AdminSettingsPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): add fallback return and fix AlertDialog story action variant
  src/components/ui/AlertDialog.stories.tsx
  src/services/coverageTarificationService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): resolve DocumentsPage json/global shadowing and MyReviews shapes
  src/pages/user/DocumentsPage.tsx
  src/pages/user/MyReviewsPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): misc test directive, unused local, omitted id and policy json
  src/__tests__/integration/auth-flow.test.tsx
  src/contexts/__tests__/UserContext.test.tsx
  src/data/api/authService.ts
  src/features/user/pages/UserPoliciesPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(types): fix supabase arg counts, icon props and security-manager visibility
  src/features/admin/services/realtimeService.ts
  src/features/payments/components/PaymentProcessor.tsx
  src/features/tarification/services/tarificationSupabaseService.ts
  src/lib/security-manager.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): add missing imports, public accessors and fallback module
  src/api/apiClient.ts
  src/lib/api/fallback.ts
  src/pages/insurer/InsurerOffersPage.tsx
  src/services/realtimeService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): migrate Sentry integration to the installed v10 SDK API
  src/lib/sentry/index.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): reconcile quote/pdf types and quote_offers mapping
  src/data/api/quoteService.ts
  src/features/user/services/quoteService.ts
  src/features/user/types/quote.ts
  src/services/pdfService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): map policy/payment DB rows to domain types, fix inserts
  src/components/ui/focus-trap.tsx
  src/features/user/services/policyService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): map analytics view + notification rows to camelCase domain types
  src/features/admin/services/analyticsSystemService.ts
  src/features/notifications/services/notificationSystemService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): correct quote insert fields and quote_offers fetch table
  src/services/quoteService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): fix offer service joins, mappers and inserts
  src/data/api/offerService.ts
  src/features/admin/services/offerService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): use real Offer fields (name, is_active) in AdminOffersPage
  src/pages/admin/AdminOffersPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): fix review service null handling and broken quotes query
  src/features/user/services/reviewService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): fix focus-trap div props and apiClient response transform
  src/api/apiClient.ts
  src/components/ui/focus-trap.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): coerce comparison-history null/undefined and add deleted_at
  src/data/api/comparisonHistoryService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): validate quote status filter/update against the enum
  src/data/api/quoteService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): map coverage rows to domain types in coverageTarificationService
  src/services/coverageTarificationService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): keep InsurerOffersPage status as the Offer union
  src/pages/insurer/InsurerOffersPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

test(types): complete Supabase auth mocks and add SecurityManager.cleanup()
  src/data/api/__tests__/authService.test.ts
  src/lib/__tests__/secure-auth.test.ts
  src/lib/security-manager.ts
  src/test/mocks/supabaseAuth.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

refactor(config): optimisation de la configuration système et de la sécurité
  Caddyfile
  README.md
  deploiement.md
  ecosystem.config.js
  next.config.ts
  package-lock.json
  package.json
  src/app/[...slug]/page.tsx
  src/app/api/auth/route.ts
  src/lib/rate-limit.test.ts
  src/lib/rate-limit.ts
  src/lib/validation.test.ts
  src/lib/validation.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

chore: mettre à jour la documentation et les dépendances
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix(types): resolve quote/notification/comparison/insurer-quotes type errors
  src/data/api/comparisonHistoryService.ts
  src/features/notifications/services/notificationSystemService.ts
  src/pages/insurer/InsurerQuotesPage.tsx
  src/services/notificationService.ts
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): build a valid QuoteData in Step3Needs and drop non-existent vehicle fields
  src/features/comparison/components/Step3Needs.tsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(types): map service Offer into modal shapes in OfferListPage
  src/data/api/offerService.ts
  src/features/offers/components/EnhancedCompareModal.tsx
  src/features/offers/components/QuoteOptionsModal.tsx
  src/features/offers/pages/OfferListPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(offers): implement OfferService export/import/analytics for AdminOffersPage
  src/features/admin/services/offerService.ts
  src/pages/admin/AdminOffersPage.tsx
Due: eslint --fix --max-warnings=10, prettier --write

refactor(types): drop redundant `as any` on REST select in offerService
  src/data/api/offerService.ts
Due: eslint --fix --max-warnings=10, prettier --write

test(infra): expand shared supabase mock and add Notification polyfill
  src/test/setup.ts
Due: eslint --fix --max-warnings=10, prettier --write

test(infra): fix useNotifications mock harness
  src/features/notifications/hooks/__tests__/useNotifications.test.ts
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

fix(security): audit P0-P2 — escalade ADMIN, RLS, XSS, rate limiting & moteur tarifaire
  CLAUDE.md
  next.config.ts
  src/app/api/admin/audit-logs/route.ts
  src/app/api/admin/insurance-offers/route.ts
  src/app/api/admin/insurers/route.ts
  src/app/api/admin/profiles/route.ts
  src/app/api/compare/route.ts
  src/app/api/contact/request-callback/route.ts
  src/app/api/insurer/logo/route.ts
  src/app/api/insurer/quotes/[id]/status/route.ts
  src/app/api/insurer/quotes/route.ts
  src/app/api/stats/route.ts
  src/app/api/user/quotes/route.ts
  src/components/admin/devis-tab.tsx
  src/components/results/comparison-modal.tsx
  src/lib/auth-actions.ts
  src/lib/auth-guard.ts
  src/lib/compare-service.ts
  src/lib/generate-pdf.ts
  src/lib/pricing-service.ts
  src/lib/rate-limit.ts
  src/lib/utils.test.ts
  src/lib/utils.ts
  supabase/migrations/20260808120000_security_fixes.sql
  supabase/seed.sql
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

test(infra): wrap UserContext tests with Router and QueryClient providers
  src/contexts/__tests__/UserContext.test.tsx
Due: eslint --fix --max-warnings=10, prettier --write, eslint --fix --max-warnings=20

audit(2.0.0): rapport de sécurité + correctif lint ecosystem.config
  docs/AUDIT_SECURITE_2.0.0.md
  eslint.config.mjs
Due: prettier --write

audit(2.0.0): retire le code mort de insurer/me + finalise le rapport
  docs/AUDIT_SECURITE_2.0.0.md
  src/app/api/insurer/me/route.ts
Due: eslint --fix --max-warnings=10, prettier --write
